<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR code generator</title>
</head>
<body>
    <form action="{{url_for('show_code')}}" method="post">
        <h3>Enter your contact info (any field is optional)</h3>
        <input type="text" name="first_name" placeholder="First Name">
        <br>
        <input type="text" name="last_name" placeholder="Last name">
        <br>
        <input type="text" name="mobile" placeholder="Cellphone">
        <br>
        <input type="text" name="email" placeholder="Email">
        <br><br>
        <button type="submit">Enter</button>
    </form>
</body>
</html>